* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.hero {
    height: 90vh;
    background: linear-gradient(to right, #f5c542, #e6b800);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 60px;
}

.hero-content p {
    margin: 20px 0;
    font-size: 20px;
}

.hero button {
    padding: 15px 30px;
    background-color: #1db954;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
}

.hero button:hover {
    background-color: #17a347;
}

section {
    padding: 60px 10%;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
}

.categoria {
    margin-bottom: 50px;
}

.categoria h3 {
    margin-bottom: 20px;
    color: #333;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.controle {
    background-color: #f5c542;
    text-align: center;
    color: white;
}

.controle button {
    margin-top: 20px;
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    background: #1db954;
    color: white;
    cursor: pointer;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}
